@charset "utf-8";
.clfix {
    zoom: 1;
}
.clfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
body{
    
}
.wrap{
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 32px);
}
